@{
    ViewBag.Title = "Student Attendence";
}

    <div id="mainLayer">

        <a href=@Url.Action("home","Home")><img src="~/Content/assets/logoyeni.png" style="z-index: 2; left: 2%; top: 2%; height:10% ; width: 12%;position:absolute ;"></a>

        <div class="menuBar">
            <ul>
                <li><a href=@Url.Action("login","Home")>Login</a></li>
                <li><a href=@Url.Action("home","Home")>Home Page</a></li>
                <li><a href=@Url.Action("about","Home")>About Us</a></li>
                <li><a href=@Url.Action("contact","Home")>Contact</a></li>
            </ul>
        </div>

        <div id="firstLayer">

            <img src="~/Content/assets/homelogo.png" width="130%" height="60%">
        </div>
        <div id="secondLayer">

            <img src="~/Content/assets/anasayfa.png" width="130%" height="75%">

        </div>

    </div>